<h1>Submissions</h1>
<div class="responsive-inputs" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="20px grid">
 
  <mat-form-field appearance="outline" class="search-box">
    <input
      matInput
      placeholder="Search"
      [(ngModel)]="searchTerm"
      (input)="onFilterChange()"
    >
    <mat-icon matPrefix >search</mat-icon>
  </mat-form-field>


  <mat-form-field appearance="outline" class="filter-field">
    <mat-label>Select Form</mat-label>
    <mat-select [(ngModel)]="selectedForm" (selectionChange)="onFilterChange()">
      <mat-option [value]="null">None</mat-option>
      <mat-option *ngFor="let form of forms" [value]="form">{{ form }}</mat-option>
    </mat-select>
  </mat-form-field>


  <mat-form-field appearance="outline" class="filter-field">
    <mat-label>Select Status</mat-label>
    <mat-select [(ngModel)]="selectedStatus" (selectionChange)="onFilterChange()">
      <mat-option [value]="null">None</mat-option>
      <mat-option *ngFor="let status of statuses" [value]="status">{{ status }}</mat-option>
    </mat-select>
  </mat-form-field>


  <mat-form-field appearance="outline" class="filter-field">
    <mat-datepicker #picker ></mat-datepicker>
    <mat-datepicker-toggle matPrefix [for]="picker">
      <mat-icon matDatepickerToggleIcon>calendar_month</mat-icon>
    </mat-datepicker-toggle>
    <input matInput [matDatepicker]="picker"  placeholder="Select Date"  [(ngModel)]="selectedDate" (dateChange)="onDateChange($event)"/>
    
    
  </mat-form-field>


  <div class="responsive-inputs second-group" fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px grid">

  <mat-button-toggle-group #viewToggle="matButtonToggleGroup"  aria-label="Font Style"  [hideSingleSelectionIndicator]="true" color="primary" [(ngModel)]="viewMode" (change)="toggleView($event)">
    <mat-button-toggle value="map" class="toggle-field" >Map</mat-button-toggle>
    <mat-button-toggle value="list" class="toggle-field" >List</mat-button-toggle>
  </mat-button-toggle-group>

  <a href="#" (click)="exportData()" mat-button><mat-icon>sim_card_download</mat-icon><p>Export</p></a>

</div>

</div>
 
  <div *ngIf="viewMode === 'list'" class="list-view">
    <div class="submission" *ngFor="let submission of filteredSubmissions">
       <div class="card-header">
        <span class="card-title">{{ submission.title }}</span>
        <button [disabled]="submission.status.toLowerCase() === 'needs review'" class="card-status status" [ngClass]="submission.status.toLowerCase()"> 
          <mat-icon matPrefix >circle</mat-icon>  {{submission.status}}
        </button>
        
        </div>
        <div class="card-body">
            <p><span class="gray">From:</span><span class="space-adjustment"> {{ submission.from }} </span></p>
            <p><span class="gray">To:</span><span class="space-adjustment"> {{ submission.to }}</span></p>
            <p><span class="gray">Due Date:</span><span class="highlight space-adjustment"> {{ submission.dueDate | date: 'dd MMMM'  }}</span></p>
          </div>
        
    </div>
  </div>
  <div *ngIf="viewMode === 'map'" #mapContainer style="display: flex;">
    <div class="box-list">
      <div class="submission" *ngFor="let submission of filteredSubmissions">
        <div class="card-header">
         <span class="card-title">{{ submission.title }}</span>
         <button [disabled]="submission.status.toLowerCase() === 'needs review'" class="card-status status" [ngClass]="submission.status.toLowerCase()"> 
          <mat-icon matPrefix >circle</mat-icon> {{submission.status}}
         </button>
         
         </div>
         <div class="card-body">
             <p><span class="gray">From:</span><span> {{ submission.from }} </span></p>
             <p><span class="gray">To:</span><span> {{ submission.to }}</span></p>
             <p><span class="gray">Due Date:</span><span class="highlight"> {{ submission.dueDate | date: 'dd MMMM' }}</span></p>
           </div>
         
     </div>
    </div>
    <div id="map" class="box-map">

    </div>
  </div>


 