  
  <div #mapContainer>
    <div class="box-list">
      <div class="submission" *ngFor="let submission of  filteredSubmissions">
        <div class="card-header">
         <span class="card-title">{{ submission.Task }}</span>
          <div  class="status" [ngClass]="getStatusClass(submission.Status)">
            <mat-icon class="icon-display">circle</mat-icon>
            <span class="v-align-middle">{{getStatusLabel(submission.Status)}}</span>
          </div>
         
         </div>
         <div class="card-body">
             <p><span class="gray">From:</span><span> {{ submission.From }} </span></p>
             <p><span class="gray">To:</span><span> {{ submission.To }}</span></p>
             <p><span class="gray">Due Date:</span><span class="highlight"> {{ submission.DueDate | date: 'dd MMMM' }}</span></p>
           </div>
         
     </div>
    </div>
    <div id="map" class="box-map">

    </div>
  </div>


 