


a{
    text-decoration: none;
    font-size: 85%;
    white-space: normal;
}

button{
    font-size: 110%;
    min-width: min-content;
}

.nav-link {
  padding: 10px 20px !important;  
}
  
  .menu-spacer {
    flex: 0.4 1 auto;
  
  }
  .box-list {
    flex: 1;
    border: 1px solid black;
    padding: 20px;
  }
  .box-map {
    flex: 1;
    border: 1px solid black;
    padding: 20px;
  }