
<mat-toolbar color="primary">
    <mat-toolbar-row>
    
      <span>ZenduForms</span>
      <span class="menu-spacer"></span>
      <div fxShow="true">
        <a href="#" class="nav-link" mat-button><mat-icon>format_list_bulleted</mat-icon><p>Forms</p></a>
        <a href="#" class="nav-link"  mat-button><mat-icon>people</mat-icon><p>Customers</p></a>
        <a href="#" class="nav-link"  mat-button><mat-icon>multitrack_audio</mat-icon><p>Submissions</p></a>
        <a href="#" class="nav-link"  mat-button><mat-icon>history</mat-icon><p>History</p></a>
        <a href="#" class="nav-link"  mat-button><mat-icon>insert_chart_outlined</mat-icon><p>Reports</p></a>
        <a href="#" class="nav-link"  mat-button><mat-icon>insert_chart_outlined</mat-icon><p>Workflow</p></a>
      </div>
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md>
        <a href="#" mat-button><mat-icon fill="currentColor">notifications_none</mat-icon></a>
        <a href="#" mat-button><mat-icon>logout</mat-icon></a>
       
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
