/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";
.mat-toolbar.mat-primary{
    --mat-toolbar-container-background-color: #2188D9 !important;
  }
  html,body {
    margin: 0;
    padding: 0;
    max-width: 100% !important;
    min-width: fit-content !important;

  }
  
  .status {
    padding: 5px 10px;
    border-radius: 3px;
    margin: 8px;
  }
  
  .status.lowrisk {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #155724;
  }
  
  .status.uncomplete {
    background-color: #f8d7da;
    color: red;
    border: 1px solid red;
  }
  .status.unassigned {
    background-color: #ececed;
    color:#b8b9bc
  }
  .custom-select-panel {
    min-width: 100% !important;
    width: var(--select-width) !important;
  }
  .mat-mdc-option {
    white-space: nowrap !important; 
    overflow: hidden !important; 
    text-overflow: ellipsis !important;
    display: block !important; 
  }
