.toggle-field {
    width:79px;
  }
  
  .search-box {
   width: 334px;
  }
  
  .filter-field {
    width: 209px;
  }
.mat-button-toggle-appearance-standard.mat-button-toggle-checked{
    color: white !important;
    background-color: #2188d9 !important;
  }
  .responsive-inputs {
    display: flex;
    flex-wrap: wrap; /* Enables wrapping on smaller screens */
    gap: 15px; /* Adds spacing between the fields */

  }
  .second-group{
    margin-left: 5% !important;
    margin-bottom: 1% !important;
  }
  .input-field {
    flex: 1 1 calc(20% - 15px); /* 20% width per field with gap adjustment */
    min-width: 150px; /* Ensures fields don't shrink too much */
  }
  
  .mat-button-toggle-group {
    height: 40px !important;
    align-items: center;
    padding: 0 !important;
  }
  

  .mat-form-field{
    height: 40px;
}
  ::ng-deep .mat-mdc-form-field-infix { 
    height: 40px !important;
    width: 120px !important;
  }
  
    ::ng-deep .mat-mdc-form-field-flex{ /* for input control*/
      height: 40px !important;
    }
  
    ::ng-deep .mdc-notched-outline{
      height: 40px !important;
    }
  
    ::ng-deep .mat-mdc-text-field-wrapper{
      height: 40px !important;
    }
    ::ng-deep .mat-mdc-floating-label{
      padding-bottom: 10px;
    }
  ::ng-deep .mdc-text-field--outlined .mat-mdc-form-field-infix, .mdc-text-field--no-label .mat-mdc-form-field-infix{
    height: 20px !important;
    padding-top: 10px !important;
  }
  .mat-form-field input{
      background: blue;
  }
.responsive-inputs > a{
  padding: 0 !important;
  color: blue;
}
