<div class="responsive-inputs" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="20px grid">
 
    <mat-form-field appearance="outline" class="search-box">
      <input
        matInput
        placeholder="Search"
        [(ngModel)]="searchTerm"
        (input)="onSearchChange()"
      >
      <mat-icon matPrefix >search</mat-icon>
    </mat-form-field>
  
  
    <mat-form-field appearance="outline" class="filter-field">
      <mat-label>Select From</mat-label>
      <mat-select [(ngModel)]="selectedForm" (selectionChange)="onFormChange()"  >
        <mat-option [value]="null">None</mat-option>
        <mat-option *ngFor="let form of forms" [value]="form">{{ form }}</mat-option>
      </mat-select>
    </mat-form-field>
  
  
    <mat-form-field appearance="outline" class="filter-field status-filter">
      <mat-label>Select Status</mat-label>
      <mat-select [(ngModel)]="selectedStatus" (selectionChange)="onStatusChange()" panelClass="custom-select-panel" >
        <mat-option [value]="null">None</mat-option>
        <mat-option *ngFor="let status of statusOptions" [value]="status.value">{{ status.label }}</mat-option>
      </mat-select>
    </mat-form-field>
  
  
    <mat-form-field appearance="outline" class="filter-field">
      <mat-datepicker #picker ></mat-datepicker>
      <mat-datepicker-toggle matPrefix [for]="picker">
        <mat-icon matDatepickerToggleIcon>calendar_month</mat-icon>
      </mat-datepicker-toggle>
      <input matInput [matDatepicker]="picker"  placeholder="Select Date"  [(ngModel)]="selectedDate" (dateChange)="onDateChange($event)"/>
      
      
    </mat-form-field>
  
  
    <div class="responsive-inputs second-group" fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px grid">
  
    <mat-button-toggle-group #viewToggle="matButtonToggleGroup"  aria-label="Font Style"  [hideSingleSelectionIndicator]="true" color="primary" [(ngModel)]="viewMode" (change)="emitEvent($event)">
      <mat-button-toggle value="map" class="toggle-field" >Map</mat-button-toggle>
      <mat-button-toggle value="list" class="toggle-field" >List</mat-button-toggle>
    </mat-button-toggle-group>
  
    <a href="#" (click)="exportData()" mat-button><mat-icon>sim_card_download</mat-icon><p>Export</p></a>
  
    </div> 
  
  </div>
